#container {
    display: grid;
    gap: 1px 1px;
    position: relative;
    margin: 30px auto 0;
}

.cell {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: white;
}

#resetButton {
    display: block;
    margin: 10px auto 0;
    height: 50px;
    width: 200px;
}